<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>cards</title> 
        <link rel="stylesheet" href="./cards.css"> 
        <link rel="shortcut icon" href="./dhoni.jpg" type="image/x-icon"> 
    </head> 
    <body> 
        <main> 
            <div> 
                <img src="./dhoni1.jpg" alt=""> 
                <h1>ms dhoni</h1> 
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi quod vero eligendi error maxime cumque dolore perspiciatis necessitatibus magnam. Nostrum repellendus tempore praesentium recusandae distinctio doloribus, dolore excepturi eaque temporibus.</p> 
            </div> 
            <div> 
                <img src="./sachin.jpg" alt=""> 
                <h1>sachin tendulkar</h1> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, a repudiandae repellat provident optio perferendis reprehenderit architecto iste nisi facere. Possimus laborum dignissimos accusamus eveniet dolorem nesciunt error corrupti. Velit?</p> 
            </div> 
            <div> 
                <img src="./virth.jpg" alt=""> 
                <h1>virat kohli</h1> 
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil quam perferendis porro suscipit unde, saepe excepturi ipsa minus voluptatibus? Distinctio vel eveniet, sunt numquam beatae rem reprehenderit repudiandae? Laboriosam, id.</p> 
            </div> 
        </main> 
    </body> 
</html> 