<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Footer.css">
    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=PT+Sans&family=Patrick+Hand&display=swap" rel="stylesheet">
</head>
<body>
    <footer>
        <div id="container">
            <div id="left">
                <ul>
                    <h5>ABOUT</h5>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Flipkart Stories</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Flipkart Wholesale</a></li>
                    <li><a href="#">CleanTrip</a></li>
                    <li><a href="#">Corporate Information</a></li>
                </ul>
                <ul>
                    <h5>HELP</h5>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Cancellation & returns</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Report</a></li>
                    <li><a href="#">Infrigement</a></li>
                </ul>
                <ul>
                    <h5>CONSUMER POLICY</h5>
                    <li><a href="#">Cancellation & Returns</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Grievance Redressal</a></li>
                    <li><a href="#">EPR Compilance</a></li>
                </ul>
                <ul>
                    <h5>SOCIAL</h5>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">YouTube</a></li>
                </ul>
            </div>
            <div id="right">
                <ul>
                    <h5>MAIL US</h5>
                    <li><a href="">Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Ullam nostrum tenetur quibusdam 
                        facere dignissimos reiciendis obcaecati odit dolorem! 
                        Sint, reiciendis sunt?</a></li>
                </ul>
                <ul>
                    <h5>REGISTERED OFFICE ADDRESS</h5>
                    <li><a href="">Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Nisi ex dicta placeat dolorum ab 
                        aliquid sapiente excepturi sequi consequuntur voluptate! 
                        Hic?</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>