<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="./NAV.css">
</head>
<body>
    <!-- <div>
        <h1>Home</h1>
        <h1>Contact</h1>
        <a href="">service</a>
        <a href="">help</a>
        <h2>Login</h2>
        <h2>signup</h2>
    </div> 
    <div id="nav">
        <h1>home</h1>
        <h1>main</h1>
        <h1>help</h1>
        <h1>contact</h1>
    </div>
-->
    <div id="content">
         <div id="left">
             <h1>Home</h1>
             <h1>Layout</h1>
         </div>
         <div id="right">
             <h1>Login</h1>
             <h1>Contact</h1>
             <h1>Help</h1>
         </div>
    </div>
    <div id="box">
        <div id="left_1">
            <a href="">Home</a>
            <a href="">Layout</a>
        </div>
        <div id="right_1">
            <a href="">Login</a>
            <a href="">Contact</a>
            <a href="">Help</a>
        </div>
    </div>
    </body>
</html>