<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./Signup.css">
    <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/175d3e4b3a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="cont">
        <form action="https://www.youtube.com/">
            <div class="personal_info">
                <label for="first">First Name</label><br>
                <input type="text" placeholder="Enter the first Name" id="first"><br>
                <label for="last">Last Name</label><br>
                <input type="text" placeholder="Enter the last Name" id="last"><br>
                <label for="gmail">E-mail</label><br>
                <input type="email" name="" placeholder="Enter the email" id="gmail"><br>
                <label for="phone">Mobile Number</label><br>
                <input type="number" placeholder="Enter the mobile number" id="phone"><br>
                <label for="">Gender:</label>
            </div>
                <div id="genders">
                    <input type="radio" name="gender" id="">Male
                    <input type="radio" name="gender">Female
                    <input type="radio" name="gender">Others<br>
                </div>
            <div class="personal_info">
                <label for="">D.O.B</label>
                <input type="date"><br>
                <label for="">Age:</label>
                <input type="range" name="" id=""><br>
                <label for="">Upload Image</label>
                <input type="file"><br>
                <label for="">Password</label><br>
                <input type="password" name="" id=""><br>
                <label for="">Confirm Password</label><br>
                <input type="password" name="" id=""><br>
            </div>
            <input type="checkbox" required>I have read and understood terms and conditoins. <br>
            <input type="checkbox" required>I accept terms and conditions <br>
            
            <input type="color"><br>
            <input type="url"><br>
            <!--Drop down-->
            <select name="" id="">
                <option value="">Single</option>
                <option value="">Married</option>
                <option value="">Divorce</option>
            </select><br>
            <textarea name="" id="" cols="30" rows="10"></textarea><br>
            <button>Submit</button>

        </form>
    </div>
</body>
</html>