<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>vertical</title> 
        <link rel="stylesheet" href="./vertical.css"> 
        <link rel="shortcut icon" href="./dhoni.jpg" type="image/x-icon"> 
    </head> 
    <body> 
        <header> 
            <ul id="nav"> 
                <li><a href="#">home</a></li> 
                <li id="drop"><a href="#">mobile</a> 
                    <ul id="menu"> 
                        <li id="ip"><a href="#">iphone</a> 
                            <ul id="ipmenu"> 
                                <li><a href="">iphone13 pro max</a></li>
                                <li><a href="">iphone14</a></li> 
                                <li><a href="">iphone15</a></li> 
                            </ul>
                        </li> <li><a href="#">oneplus</a></li> 
                        <li><a href="#">samsung</a></li> 
                        <li><a href="#">redmi</a></li> 
                    </ul>
                </li> 
                <li><a href="#">laptop</a></li> 
                <li><a href="#">help</a></li> 
            </ul> 
        </header> 
    </body> 
</html>